name: Node.js CI

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment'
        required: true
        default: 'basciodev'
        type: choice
        options:
          - basciodev

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '22'
        cache: 'npm'

    - name: Install dependencies
      run: npm ci

    - name: Run tests
      run: echo "TODO:Test"

    - name: Create .env from secrets
      run: |
        cat <<EOF > .env
        DEBUG=${{ secrets.DEBUG }}
        BASE_URL=${{ secrets.BASE_URL }}
        NUXT_PUBLIC_API_BASE=${{ secrets.NUXT_PUBLIC_API_BASE }}
        NUXT_BASE_URL=${{ secrets.NUXT_BASE_URL }}
        API_DOMAIN=${{ secrets.API_DOMAIN }}
        EOF

    - name: Build project
      run: npm run generate

    - name: Deploy to server
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.SSH_KEY }}
        source: "./.output/public/*"
        target: ${{ secrets.TARGET }}
        strip_components: 2
        rm: true

    - name: Clean up
      run: rm -rf node_modules .env

    - name: Notify on success
      if: success()
      run: echo "Pipeline completed successfully!"

    - name: Notify on failure
      if: failure()
      run: echo "Pipeline failed!"
